body, html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 24px;
}

main {
    margin: 10px 20px;
}

canvas {
    background: url(img/fon.jpg);
}

.hidden {
    display: none;
    visibility: hidden;
}